
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {    
    width: 210px;
    height: 335px;
    border-radius: 34px;
    background-color: yellow;    
}

#main {
    position: relative;
}

.product1 {
    width: 210px;
    height: 200px;
    border-radius: 34px;
}

.product2 {
    position: absolute;
    right: 10;
    top: 12;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

p {
    display: inline;
    position: absolute;
    left: 55px;
    top: -14px;
}

.veg::after {
    height: 30px;
    width: 210px;
    top: 205px;
    background-color: red;
    position: absolute;
    font-size: 18px;
    background-color: #d5f7d5;
}

.veg .icon {
    color: green;
}

.veg .text {
    color: #18d918;
}

.container #title {
    display: inline-block;
}