*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #9c908c;
}

.main-section {
    width: 250px;
    height: 430px;
    position: relative;
    margin: 30px auto;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgb(121, 120, 120);
}



.image-holder::after {
    content:"";
    width:50px;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 25px;
    right:10px;
    top:25px;
}

.main-section .image-holder {
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 30px 30px 0 0;
}

.main-section .image-holder .product1 {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 30px 30px 0 0;
}

.main-section .image-holder .heart {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 37px;
    right: 20px;
    z-index: 7;
    filter: invert(14%) sepia(71%) saturate(7500%) hue-rotate(339deg) brightness(97%) contrast(109%);

}

.transparent-class {
    position: absolute;
    width: 100%;
    height: 35px;
    background-color:rgba(191, 240, 188, 0.7);
    bottom:0;
    display: flex;
}

.transparent-class .leaf-image {
    width: 25px;
    height: 25px;
    display: inline;
    margin: auto 5px;
    position: relative;
    filter: invert(32%) sepia(99%) saturate(872%) hue-rotate(77deg) brightness(96%) contrast(97%);
}

.transparent-class p{
    position: relative;
    margin: auto 3px;
    display: inline;
    font-size: 20px;
    color:#188804;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

.bottom-section {
    position: relative;
    height: 40%;
    width: 100%;
    border-radius: 0 0 30px 30px;
    background-color: #ffffff;
}

.bottom-section h3{
    display: inline-block;
    padding: 0px 5px 5px 15px;
    margin-top:10px;
    font-family: 'Prompt', sans-serif;
    font-weight:800;
    position: relative;
    max-width:170px;
    font-size: 19px;
    line-height: 25px;
}

.bottom-section .rating {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px 10px;
    background-color: rgb(21, 130, 19);
    width: 55px;
    height:27px;
    border-radius: 7px;
    align-items: center;
    justify-content: center; 
}

.bottom-section .rating .star {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(74deg) brightness(107%) contrast(103%);
    display: inline;
    width: 14px;
    height: 14px;
    margin-bottom:1px;
}

.bottom-section .rating span {
    position: relative;
    display:inline;
    padding-left: 5px ;
    padding-right:2px;
    font-size:17px;
    font-family: sans-serif;
    color:#ffffff;
}

.bottom-section .time {
    width: 100%;
    height:30px;
    display: flex;
    position: relative;
    align-items: center;
    font-weight:600;
    font-family: 'Inter', sans-serif;
    top:10px;
}

.bottom-section .money {
    width: 100%;
    height:30px;
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight:600;
    top:10px;
}

.bottom-section .time img, .money img {
    width: 20px;
    height: 20px;
    display: inline;
    margin-left:10px;
}

.bottom-section .money img {
    filter: invert(17%) sepia(55%) saturate(6680%) hue-rotate(321deg) brightness(110%) contrast(94%);
}

.bottom-section .time span, .money span {
    padding-left: 5px;
}

.bottom-section .bottomline {
    background-color: rgba(171, 158, 231, 0.2);
    width:100%;
    height:40px;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 30px 30px;
    display: flex;
    position:absolute;
    bottom: 0;
}

.bottom-section .bottomline .discount {
    width: 20px;
    height: 20px;
    display: inline;
    margin-left:10px;
    filter: invert(34%) sepia(79%) saturate(1152%) hue-rotate(194deg) brightness(98%) contrast(101%);
}

.bottom-section .bottomline span {
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#2772ed;
}

@media only screen and (min-width: 230px) and (max-width:470px) {
    .img {}
}